* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background: rgb(255, 255, 255);
}

.backdrop {
    display: none;

    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;
    background: rgba(0,0,0,0.5)
}

.modal_ {
    display: none;
    width: 33vw;
    height: 100vh;
    padding: 0;
    margin: 0;

    /* flex-direction: column;
    justify-content: center; */

    position: absolute;
    right: 0;
    background: white;
    z-index: 200;
}

.modal_ ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    margin: 20rem 0;
}

.modal-title h1 {
    margin: 0.5rem 4rem;
}

.modal-description {
    width: 50%;
    margin: 0 auto;
}


.main-header {
    width: 100vw;
    height: 25vh;
    background: #17a7a8;
    position: absolute;
    z-index: 0;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}


.main-title {
    color: white;
    margin: 6rem;
}

.libs {
    color: rgba(255, 255, 255, 0.911);
    /*  position: absolute;
    right: 0;
    margin: 6rem; */
    cursor: pointer;
}

.wrapper-editor {
    width: 70vw;
    margin: 13rem auto;
    display: flex;
    justify-content: center;  
}

.note-editable {
    height: 500px;
    font-size: 16px;
    font-family: Arial;
    box-sizing: border-box;
    text-align: unset;
    background: white;
}

.menu {
    display: none;
    width: 200px;
    background: #f1f1f1;
    list-style-type: none;
    margin: 0;
    padding: 0;

    position: absolute;
    z-index: 10;
}

.menu li {
    width: 100%;
    display: block;
    color: #000;
    padding: 8px 0 8px 8px;
    text-decoration: none;
}

.menu li:hover {
   background: rgba(0, 0, 0, 0.5);
   color: white
}

.menu li label {
    font-weight: normal;
}

.menu li input {
    height: 0;
}

.btn-upload {
    position: relative;
    opacity: 0;
}

.btn-openClose_div {
    display: flex;
    width: 32px;
    padding: 0 8px;
}
